/* calendar 전체 */
.calendar {
    width: 700px;
    height: 700px;
    margin: 0;
    padding-bottom: 0;
}

/* calendar_header 년/월 표시, 날짜 이동 */
.calendar_header {
    display: inline-block;
}

.calendar_nav {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 50px;
    line-height: 34px;
    margin: 0 20px;
    background-color: transparent;
    cursor: pointer;
}

/* 7Days */
.calendar_main{
    border-collapse: collapse;
    width: 100%;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    transition: all .3s;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #33333341;
}

.date {
    width: calc(100% / 7);
    padding: 5% 1%;
    /* text-align: left; */
    text-align: center;
    border: 1px solid #33333341;
    transition: all .3s;
}

.date-itm{
    display: inline-block;
    vertical-align: middle;
}

.date_event{
    display: inline-block;
    vertical-align: middle;
}

.event-itm{
    display: block;
    font-size: 15px;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    color: rgba(88, 88, 88, 0.315) !important;
}

.today {
    position: relative;
    background-color: #ff1c1c96;
    color: #ffffff !important;
}

.selected{
    background-color: black;
    color: #ffffff !important;
}




/* NEW TAB */
.resv-wrapper{
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #3333335b;
    display: none;
    justify-content: center;
}

.resv-wrapper.open{
    display: flex;
    width: 100%;
    height: 100%;
}

.resv-bg{
    width: 80%;
    height: 80%;
    position: relative;
    padding: 5% 5%;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    font-size: 20px;
}

.resv-close{
    cursor: pointer;
    font-size: 20px;
    background-color: #ffffff;
    text-align: right;
    float: right;
}

