<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="UTF-8">
        <title>Calendar</title>
        <link rel="stylesheet" href="../static/css/calendar.css">
        <link rel="stylesheet" href="../static/css/reaction.css">
        <link rel="stylesheet" href="../static/css/group.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700;1,800&display=swap');
            .resv_info li{
                float: left;
                list-style-type:none;
                list-style:none;
                margin-right:30px;
            }
        </style>
    </head>
    <body>
        <div class="calendar">
            <div class="calendar_calendar">

                    <!-- calendar_header 년/월 표시, 날짜 이동 -->
                    <div class="calendar_header">
                        <div class="calendar_nav">
                            <button class="nav-btn go-prev">&lt;</button>
                            <span class="year"></span>년&nbsp;
                            <span class="month"></span>월
                            <button class="nav-btn go-next">&gt;</button>
                        </div>
                    </div>

                    <!-- 7Days -->
                    <div class="calendar_main">
                        <div class="days">
                            <div class="day">일</div>
                            <div class="day">월</div>
                            <div class="day">화</div>
                            <div class="day">수</div>
                            <div class="day">목</div>
                            <div class="day">금</div>
                            <div class="day">토</div>
                        </div>
                    </div>

                    <!-- 날짜 별-->
                    <div class="dates"></div>
            </div>



            <!-- d-day -->
            <fieldset>
                <div id="count"></div>
                <script src="d-day.js"></script>
            </fieldset>

            <!-- group -->
            <div id="Group">
                <div class="Friend_button">

<!--                    <button class="mandi" type="button" onclick="location.href=''"><img src="../static/img/profile_1.jpg"></button>-->
<!--                    <button class="moon" type="button" onclick="location.href=''"><img src="../static/img/profile_5.jpg"></button>-->
<!--                    <button class="Moon" type="button" onclick="location.href='../calendar2'"><img src="../static/img/profile_2.jpg"></button>-->
<!--                    <button class="mandi" type="button" onclick="location.href=''"><img src="../static/img/profile_3.jpg"></button>-->
                </div>
                &nbsp;
                <div class="Plus_button" style="border-color: #F2F2F2">
                    <button class="plus_mark" onclick="showPopup();" style="font-size: 30px; color:#F2F2F2; ">+</button>
                </div>
            </div>

            <!--profile-->
            <div class="profile">
                <button class="mandi" type="button" onclick="location.href=''"><img src="/static/img/profile_4.jpg"><script>print(session['asd'])</script></button>
            </div>

            <!-- 새로운 창 -->
            <div class="resv-wrapper">
                <div class="resv-bg" style="border: 3px solid #6182A2; padding: 10px;">

                    <!-- 페이지 나가기  -->
                    <button class="resv-close">X</button>

                    <div class="resv_info">
                    <ul>
                        <!-- 날짜 표시 -->
                        <div class="resv_ym">
                            <span class="resv-year">2021</span>년
                            <span class="resv-month">11</span>월
                            <span class="resv-day">28</span>일
                        </div>
                            <li>
                            <!-- To Do LIst -->
                            <div class="list-box" style="width: 290px;">

                                <div>
                                    <h4>To Do List</h4>

                                    <div class="write-box">
                                        <input style="border: 3px solid #6182A2; font-color: white; border-radius: 5px;" type="text" class="text-basic" placeholder="해야 할 일을 적어보세요.">
                                        <button type="button" id="btnAdd" style="background-color: #6182A2; color: white; border: none; border-radius: 5px;">Add</button>
                                    </div>

                                    <table class="list-table">
                                        <colgroup>
                                        </colgroup>

                                        <tbody id="listBody"></tbody>
                                    </table>
                                </div>

                            </div>
                            </li>

                            <li>
                            <!-- Image -->

                                <div class="Image">
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="file"
                                        name="product_image" id="product_image" onchange="setThumbnail(event);">
                                    </div>
                                    <div id="image_container"></div>
                                </div>
                            </li>

</li>                   <li>
                        <div style="position: fixed; right:50px;">
                        <span id="like">
                            <button  style="background-color: transparent; border:none;"type="button" onclick='count_1("plus")'><img style="width: 50px; height: 50px;" src="../static/img/like.png"></button>
                              </span>
                        <span id='result_1'>0</span>

                        <span id="dislike">
                            <button  style="background-color: transparent; border:none;"type="button" onclick='count_2("plus")'><img style="width: 50px; height: 50px;" src="../static/img/dislike.png"></button>
                              </span>
                        <span id='result_2'>0</span>
                            </div>
                        <li>


</ul>                 </ul>
                    </div>
                </div>
            </div>

        </div>

        <!-- Java Script -->
        <script src="/static/js/d-day.js"></script>
        <script src="/static/js/todo.js"></script>
        <script src="/static/js/calendar.js"></script>
        <script src="/static/js/newpage.js"></script>
        <script src="/static/js/reaction.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>

            // 로그인한 사용자의 팔로잉 리스트
            fetch('/follow',{
                method: 'get'
            })

            .then(data => {
                console.log(data)
                data.json().then((value) => {
                    for (id in value)
                    {
                        icon = "<button className="+value[id]+" type='button' onclick= 'location.href=" + '"/calendar2/' + value[id] + '"' + "'> <img src=/static/img/profile_"+(Number(id)%4+1)+".jpg> "+value[id]+" </button>"
                        $('.Friend_button').append(icon)
                    }
                });
            })
        </script>
    </body>