<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="stylesheet" href="../static/css/login.css" />
</head>
<body>
    <div className="Login">
 <form method="post" name="form">
		<div class="main-container">
		  <header class="logo">
			<div>
				<img class="logoPicture" src="logo_2.jpg" alt="스터디플래너_로그" width=280px, height=100px/>
			</div>
		  </header>
		  <content class="login-container">
			<input type="text" placeholder = "아이디" name = "id"><br>
			<input type="password" placeholder = "비밀번호" name = "pw">
		 	<input type="submit" value="로그인" class="loginBtn" style="font-weight : bold ; color: white;">
		  </content>
		  <footer>Don't you have ID?  <a href='/signup/'>sign up</a></footer>
		</div>
		<script src="js/login.js"></script>
	  </form>
    </div>
</body>
</html>