<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Friend</title>
	<!-- Google fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/login.css" />
	<style>
		.search{
			width: 400px;
			hieght: 20px;
			border: 3px solid #000080;
		}

		.search input{
			width: 340px;
			hieght: 50px;
			border: none;
			border-right: 1px solid #000080;
			margin-bottom: 9px;
		}

		.search button{
			background-color: transparent;
			border: none;
			font-size: 20px;
			positon: center;
			margin-left: 5px;
			margin-top:4px;
		}
	</style>
</head>
<body>
    <div class="search">
		<input type="text" placeholder="친구의 아이디를 입력하세요">
		<button><img src="../static/img/search.JPG" onclick="location.href=''"></button>
	</div>
</body>
</html>