<!DOCTYPE html>
<html>
    <head>
        <title>Site</title>
        <meta charset="utf-8">
        <link
                href="https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/mainpage.css">
    </head>

    <body>
        <header>
            <div id="fix_layer">
                <div id="logo">
                    <img src="ssp_logo.JPG"></img>
                </div>
                 <div id="login" style="float:right;" >
                    <a href='login.html'>Login</a>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href='signup.html'>Sign Up</a>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 </div>
            </div>
        </header>

        <Main>
            <div style="text-align: center;">

                <!-- Banner -->
                <section id="banner">
                    <div>
                        <br><br><br><br><br><br>
                    <div id="title">Share Study Planner</div>
                        <img src="mp.jpg" alt="My Image">
                        <h2>기록 공유 정리를 한 번에</h2>
                        <br>
                    </div>
                </section>

                <!-- One -->
                <section id="info_1" class="info_main">
                    <div id="info">
                        <h3>
                            <br><br><br><br><br><br><br><br>
                            <a href='calendar.html'>
                                매일매일 기록하는 달력
                            </a>

                        </h3>
                        <br>
                        <img src="mp.jpg" alt="My Image">
                    </div>
                </section>

                <!-- Two -->
                <section id="info_2" class="info_main">
                    <div>
                        <h3>
                            <br><br><br><br><br>
                            친구와 달력 공유
                        </h3>
                        <br>
                        <img src="mp.jpg" alt="My Image">
                    </div>
                </section>

                <!-- Three -->
                <section id="info_3" class="info_main">
                    <div>
                        <h3>
                            <br><br><br><br><br>
                            <a href='todo.html'>
                                내 플래너 바로가기
                            </a>
                        </h3>
                        <br>
                        <img src="mp.jpg" alt="My Image">
                    </div>
                </section>

                <!-- Four -->
                <section id="info_4" class="info_main">
                    <div>
                        <h3>
                            <br><br><br><br><br>
                            반응
                        </h3>
                        <br>
                        <img src="mp.jpg" alt="My Image">
                    </div>
                </section>

                <!-- re-login -->
                <section id="re-login" class="info_main">
                    <div>
                        <br><br><br><br><br><br>
                    <footer>지금 당장 이용해 보세요. <br> <a href='signup.html'>Sign Up</a></footer>
                        <br><br><br><br><br><br><br><br><br>
                    </div>
                </section>

            </div>
        </Main>


    </body>
</html>
